#mainLogo{
  float: left;
}
#mainTitle{
  font-family: 'Teko', sans-serif, bold;
  font-size: 4em;
}
#mainImg{
  position: relative; top: -4em;
}
#del{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-family: 'Mr Bedfort', cursive;
  font-size: 2em;
}
#caption{
  float: left;
}
.contact{
  float: right;
  margin-left: 1.05em;
}
#print{
  float: right;
  position: relative; top: -5.2em;
}
p{
  font-size: .5em;
}
html{
  margin-left: 10%;
  margin-right: 10%;
}
#listImg{
  background-image: url('img/list-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
footer{
  margin-top: 5%;
}
p{
  color: grey;
  font-family: 'Orbitron', sans-serif;
}
fieldset{
  border: none;
}
#best{
  margin-top: 0px;
  margin-left: 10px;
  position: relative; top: -1.5em;
}
#date{
  font-size: .4em;
  position: relative; top: -7em;
}
#printImg{
  float: left;
  margin-right: .2em;
}
#printText{
  float: left;
  position: relative; top: -.8em;
}
.mainText{
  font-size: 1em;
  font-family: times;
}
