#mainLogo{
  float: left;
}
#del{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-family: 'Mr Bedfort', cursive;
  font-size: 2em;
}
#caption{
  float: left;
}
.contact{
  float: right;
  margin-left: 1.05em;
}
#print{
  float: right;
}
p{
  font-size: .5em;
}
html{
  margin-left: 10%;
  margin-right: 10%;
}
#listImg{
  background-image: url('img/list-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
footer{
  margin-top: 5%;
}
p{
  color: lightgrey;
}
fieldset{
  border: none;
}
#best{
  margin-top: 0px;
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif;
}
